@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: var(--colors-trueGray900);
  color: var(--colors-coolGray100);
  font-size: 1.25rem;
  line-height: 2;
}

h1, h2, h3 {
  word-spacing: .25rem;
}
